<!doctype html>
<html>
  <head>
    <title>Decentralised Ominous God</title>
    <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="game.js"></script>


    
    <h1>
        <span id="title"> Worship the D.O.G. </span>
    </h1>

    <div>
        <h2>Your are: <span id="plid">  #{username} </span></h2>
        <h2>Your Holy Tokens:     <span id="score"> #{score} </span> </h2>
    </div> 

    <hr>

    <div>
        <h2> Worship with someone (Active disciples: <span id="numactiveusers"></span>): </h2>
        <ul id="activeplayers"></ul>
    </div>

    <hr>

    <div>
        <h3> Someone wants to worship: </h3>
        <ul id="playrequests"></ul>
    </div>

    <hr>

    <div>
        <h3> Holyledger: </h3>
        <ol id="leaderboard"></ol>
    </div>

    <hr>

        <div>
            <h3> Happenings + Gossip: </h3>
        </div>

        <div>
            <ul id="messages"></ul>

            <form id="send" action="">
            <input id="m" autocomplete="off" />
            <button>Send</button>
            </form>
        </div>

  </body>
</html>