<!doctype html>
<html>
  <head>
    <title>DOG</title>
  </head>

  <body>
    <h3>#{username}</h3>
    <ul id="messages"></ul>
    <form action="">
      <input id="m" autocomplete="off" />
      <button id="send">Send</button>
    </form>
    
    <a href="/logout">Logout</a>
    

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    script(src='./scripts/index.js')
    
  </body>
</html>